<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="/research">Research Lines</a></li>
        		<li><a href="/portfolio">Data Science Portfolio</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:lcerdanphd@gmail.com">email</a></li>
        		<li><a href="https://github.com/lucerlab">github.com/lucerlab</a></li>
			<li><a href="https://www.linkedin.com/in/luis-cerd%C3%A1n-phd-709a271b0/">LinkedIn</a></li>
			<li><a href="https://publons.com/researcher/2785151/luis-cerdan-phd/">Publons</a></li>
			<li><a href="https://scholar.google.es/citations?user=UZSx1TwAAAAJ&hl=es">Google Scholar</a></li>
			</ul>
		</footer>
	</body>
</html>